* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
}

#wrapper {
    width: 100%;
    height: 100vh;
}

#header {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

#menu {
    list-style: none;
    display: flex;
}

#menu .item {
    margin: 0 25px;
}

#menu .item a {
    color: white;
    text-decoration: none;
}

.item ul.mini-menu {
    position: absolute;
    background-color: #303031;
    padding: 15px 0;
    list-style: none;
    width: 200px;
    display: none;
}

.item li:hover ul.mini-menu {
    display: block;
}

.item ul.mini-menu a {
    padding: 8px 15px;
    border-bottom: 1px solid #1e1d1d;
}

.item ul.mini-menu li:hover a {
    border-bottom: 1px solid #556d39;
}

.item ul.mini-menu li:last-child a {
    border: none;
}

#banner {
    width: 100%;
    background-image: url("/project/img/fer1.1.jpg");
    height: 600px;
    margin-top: 40px;
    display: flex;
    padding: 0px 133px;
    position: relative;
    justify-content: center;
    align-items: center;
}

#banner .box-left {
    text-align: center;
    color: white;
    max-width: 50%;
}

#banner button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

#banner button:hover {
    background-color: darkred;
}
.menu{
    padding:5px 0px;
    list-style: none;
    margin:0;
    padding: 0;
}
.menu li{
    position: relative;
}
.menu li a{
    color:rgb(147, 114, 88);
    display:block;
    padding: 18px 18px;
    text-decoration:none ;
}
.menu li a:hover{
    color:rgb(165, 124, 203);
    /* border-bottom: 2px solid rgb(209, 157, 122); */
}