 /* *{
    background-color: #19192B;
    color:#EEEEEE;
}
body {
	font-family: Arial, sans-serif;
} */

/* .container {
	margin: 0 auto; */
	/* text-align: center; */
	/* padding: 50px 0; */
    /* display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-areas: 'text1 img1 bottom1'; */


/* h1, h2 {
	margin: 0;
} */

/* h2 {
	color: #6c63ff;
} */

/* p {
	margin: 20px 0;
} */

/* a {
	background-color: #6c63ff;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	margin-bottom: 20px;
	display: inline-block;
} */

/* h3 {
	color: #6c63ff;
} 

.img1{
    height:60px;
    width:30px;
} */

body {
    background-color: #000629;
    font-family: sans-serif;
    margin: 0;
}
header {
    display: flex;
    font-family: sans-serif;
    margin: 100px 200px 0 200px;
    

}
.header-content {
    width: 280px;
    color: white;
    padding-top: 100px;
}
.header-content__1 {
    opacity: 0.6;
}
.header-content__2 {
    padding-left: 208px;
    opacity: 0.6;
}
.header-content__3 {
    display: flex;
    padding-left: 135px;
}
.header-content__3-2 {
    margin-left: 13px;
    font-size: medium;
}
.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img1 {
    height: 350px;
    width: 270px;
}
.img2 {
    width:100px;
    margin-top: 80px;
    margin-bottom: 50px;

}
.header-h2 {
    padding-top: 217px;
    margin-left: 30px;
    
}
.header-h2__1, .header-h2__2, .header-h2__3 {
    color: white;
    font-weight: 10;
    letter-spacing: 2px;
    font-size: 30px;
}
.header-h2__1 {
    margin-bottom: 0 ;
    margin-top: 40px;
}
.header-h2__2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.header-h2__3 {
    margin-top: 0;
    font-size: x-large;
}
.about-me {
    font-family: sans-serif;
    display: grid;
    grid-template-areas: 'item1 item1'
                         'item2 item3';
    color: white;
    padding: 0 40px 0 40px;
}
.about-me__header {
    grid-area: item1;
    display: flex;
    justify-content: center;
}
.about-me h3 {
    font-size: 30px;
}
.purple {
    color: #4326f7;
    margin-left: 10px;
}
.about-me__left {
    padding-right: 10px;
    grid-area: item2;
    width: 560px;

}
.about-me__left-p {
    opacity: 0.6;
    letter-spacing: 0.1px;
}
.about-me__left--infor {
    display: flex;
}
.about-me__left--infor-1,
.about-me__left--infor-2,
.about-me__left--infor-3 {
    margin: 50px 25px 0 0;
}
.about-me__left--infor-2,
.about-me__left--infor-3 {
    opacity: 0.5;
}
.about-me__left--infor-1 p,
.about-me__left--infor-2 p,
.about-me__left--infor-3 p {
    margin-bottom: 40px ;
}
.about-me__right {
    padding-left: 10px;
    grid-area: item3;
    display: grid;
    grid-template-areas: 'item4 item5'
                         'item6 item7' ;
    height: 500px;
}
.about-me__right-1 {
    grid-area: item4;
    border: 1px black solid;
    border-radius: 15px;
    background-color: #2B2D40;
    margin: 0 5px 5px 0;
    height:230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-me__right-2 {
    grid-area: item5;
    border: 1px black solid;
    border-radius: 15px;
    background-color: #2B2D40;
    margin: 0 0 5px 5px;
    height:230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-me__right-3 {
    grid-area: item6;
    border: 1px black solid;
    border-radius: 15px;
    margin: 5px 5px 0 0;
    background-color: #2B2D40;
    height:230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-me__right-4 {
    grid-area: item7;
    border: 1px black solid;
    border-radius: 15px;
    background-color: #2B2D40;
    margin: 5px 0 0 5px;
    height:230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h5 {
    margin: 5px 0 30px 0;
    font-size: 22px;
}


.my-project {
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-project__header {
    display: flex;
}
.my-project__header h3 {
    font-size: 30px;
}
.my-project__TOC {
    display: flex;
    margin: 30px 0 20px 0;
}
.my-project__TOC h5 {
    margin: 8px;
    text-transform: uppercase;   
}
.red {
    color: brown;
}
.my-project__cell {
    padding: 0 40px 0 40px;
    display: grid;
    grid-template-areas: 'item8 item9'
                         'item10 item11';
}
span {
    color: brown;
}
.my-project__cell-1 {
    grid-area: item8;
    margin: 0 10px 10px 0;
}
.my-project__cell-2 {
    grid-area: item9;
    margin: 0 0 10px 10px;
}
.my-project__cell-3 {
    grid-area: item10;
    margin: 10px 10px 0 0;
}
.my-project__cell-4 {
    grid-area: item11;
    margin: 10px 0 0 10px;
}
.infor img {
    width: 200px;
    height: 150px;
    border: 1px solid white;
    border-radius: 12px;
}
.my-project__cell-1,
.my-project__cell-2,
.my-project__cell-3,
.my-project__cell-4 {
    border: 1px solid black;
    border-radius: 15px;
    background-color: #2B2D40;
    padding: 20px;

}
.my-project__cell div h5 {
    font-size: larger;
    margin: 0 0;
}
.my-project__cell div .content {
    opacity: 0.6;
}
.my-project__cell div .mini {
    opacity: 0.7;
    font-size: 12px;
}
.infor {
    display: flex;
    align-items: center;
}
.infor div {
    margin-left: 40px;
}
.infor div p {
    margin: 10px 0;
    opacity: 0.6;
}

.works {
    display: flex;
    padding: 100px 40px;
    color: white;
    
    
}
.works div {
    border: 1px solid black;
    border-radius: 15px;
    margin: 50px 25px 25px 0;
    width: 400px;
    background-color: #2B2D40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.works__number {
    font-size: 50px;
    margin: 30px 0 10px;
    opacity: 0.6;
    font-weight: 700;
    opacity: 0.5;
}
.works__number-spe {
    color: #3E21D7;
    font-size: 50px;
    margin: 30px 0 10px;
    font-weight: 700;

}
.touch {
    padding: 0 40px 0 40px;
    color: white;
    display: grid;
    grid-template-areas: 'item12 item12'
                         'item13 item14';
}
.touch-header {
    grid-area: item12;
    display: flex;
    justify-content: center;
}
.touch-header h3 {
    margin: 0 5px 0 5px;
    font-size: 30px;

}
.touch-header__spe {
    color: #3E21D7;
}
.touch-left {
    grid-area: item13;
}
.touch-left__cell {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #2B2D40;
    width: 480px;
    height: 150px;
    margin: 30px 20px 0 0;
}
.touch-left__cell h5 {
    font-size: larger;
    margin: 20px 35px;
}
.cell-image{
    /* border: 1px solid white; */
    /* border-radius: 100%; */
    margin: 80px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.touch-left__cell-infor {
    display: flex;
    margin: 20px 0;
}
.touch-left__cell-infor-spe {
    padding: 0 35px;
}
.touch-left__cell-infor p {
    margin: 0 20px;
}
.touch-right {
    grid-area: item14;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 650px;
}
.touch-right__input {
    margin: 20px 0 0 0;
    padding: 8px 15px;
    background-color: #2B2D40;
    height: 30px;
    border: #2B2D40 1px solid;
    border-radius: 10px;
}
.touch-right__input-spe {
    margin: 20px 0 0 0;
    padding: 8px 15px;
    background-color: #2B2D40;
    height: 70px;
    border: #2B2D40 1px solid;
    border-radius: 10px;
}
.touch-right p {
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    border: 1px white solid;
    color: red;
    letter-spacing: 2px;
}

footer {
    margin: 100px 0 0 0;
    background-color: #2B2D40;
    width: 1263.33px;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
}
.footer-icon {
    display: flex;
    padding-left: 610px;
}
footer div p {
    padding: 0 0 0 40px;
}
.footer-icon i {
    padding: 0 5px;
    width: 20px;
    height: 20px;
}
.footer-icon div {
    display: flex;
    flex-direction: column;
}